.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    min-width: 1530px;
    overflow: hidden;
    margin: 0;  
    height: 90px;
    flex-wrap: wrap;
    position: fixed;
    box-sizing: border-box;
    background-color: rgb(171, 154, 154);
    box-shadow: 0 5px 10px #808080;
    
    
    
  }
  .cart{

   position: relative;
  cursor: pointer;
  }
     
  span{
    position: absolute;
    top: -0.7rem;
    right: -1.6rem;
    width: 2rem;
    height: 2rem;
  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: crimson;
  }