*{
  margin: 0;
  padding: 0;
  }

  .App {
    max-width: 1750;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing:border-box ;
  
    padding: 0 15px;
    box-shadow: 0 2px 6px #08a05ca4;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
.nabvar{
  height: 50px;
}

/*
.btn{
 width: 120px;
 height: 50px;
  background-color: rgb(255, 0, 115);
  border: none;
  color: aliceblue;
  font-size: 25px;
  font: bold;
}
.CartWidget{
  display: flex;
  justify-content: flex-end;
  background-color: red;
}
.carro{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Cart{

  display: flex;
  justify-content: flex-end;
  
}

.Cart box-icon{
 
  width: 35px;
  height: 35px;

}
   .Cart span .item_total{

  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: crimson;
}
.contenedor{
  display: flex;

}
.card{
  
  position: relative;
  margin: 10px 15px;
  min-height: 520px;
  padding-left: 20px;
  width: 280px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.50);
  background-color: #fff;
  overflow: hidden;
  transition: all 0.20s ease-in;
  cursor: pointer;
  text-decoration: none;
  font-style:oblique;

}

.card-img{
  width: 280px;
  height: 260px;
  object-fit: cover;
}

.card-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card:hover{
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(-6px);
  
}
.carrito_close{
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 3rem 0 0 2rem;


}
*/